<% provide :title, 'Pages' %>

<h1 class="text-center">Pages without a category</h1>

<div class="row section-holder">
</div>

<script>
  $(document).ready(function() {
    $("#page_category_id").select2({});
    jQuery(".best_in_place").best_in_place();
  });
</script>
