<% provide :title, @page.name %>

<h1 class="text-center"><%= link_to @page.category.name, admin_category_path(@page.category) %></h1>
<h1 class="text-center"><%= "Manage #{@page.name}" %></h1>
</br>

<div class="edit-page-container">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="#manage-graphs" data-toggle="tab">Manage Graphs</a></li>
    <li role="presentation"><a href="#manage-cards" data-toggle="tab">Manage Cards</a></li>
  </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="manage-graphs">
        <%= render 'manage_graphs' %>
      </div>
      <div class="tab-pane fade" id="manage-cards">
        <%= render 'manage_cards' %>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    jQuery(".best_in_place").best_in_place();
  });
</script>
