<div class=<%= "col-sm-#{graph.width}" %>>
  <h2 class="text-center"><%= graph.title %></h2>
  <div class="iframe-wrapper">
    <iframe class="iframes" src=<%= graph.external_url %>></iframe>
  </div>
</div>

