<h1 class="text-center"><%= @page.name %></h1>
<h4><%= raw @page.intro_text %></h4>

<% @page.contents.each do |graph| %>
  <% if graph.class == Graph %>
    <%= render '/graphs/graph', graph: graph %>
  <% else %>
    <iframe class="iframes" src=<%= graph.external_url %>></iframe>
  <% end %>

<% end %>
