@import "bootstrap-sprockets";
@import "bootstrap"; 
body {
  background-color: rgb(238, 238, 238);
}

.form-control {
  width: 100% !important;
}

.title-holder {
  color: #fff;
  background-color: #00758C;
  margin-bottom: 20px;
}

.section-holder {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
}

.select2 {
  width: 100% !important;
}

.iframe-wrapper {
  -webkit-overflow-scrolling: touch;
}

.iframes {
  width: 95%;
  height: 400px;
  margin: 2.5%;
  border-width: 1px;
  border-style: solid;
}


.xe-upper {
  padding-top: 10px;
}

.xe-right {
  text-align: right;
  a {
    color: #fff
  }
}

.xe-widget.xe-progress-counter.xe-progress-counter-grey {
  background: #999999;
  .xe-upper {
    background: transparent;
  }
  a {
    color: #397FDB;
  }
}

.xe-widget.xe-progress-counter.xe-progress-counter-green {
  background: #68b828;
  .xe-upper {
    background: transparent;
  }
  a {
    color: #7828B8;
  }
}

.xe-widget.xe-progress-counter.xe-progress-counter-red {
  background: #d5080f;
  .xe-upper {
    background: transparent;
  }
  a {
    color: #08D5CE;
  }
}

.xe-label {
  strong {
    font-size: 1.5em;
  }
}

.xe-widget.xe-progress-counter .xe-background {
  top: -10% !important;
  left: -10% !important;
  bottom: auto !important;
}

.xe-widget.xe-counter, .xe-widget.xe-counter-block .xe-upper, .xe-widget.xe-progress-counter .xe-upper {
  padding: 0px !important;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
}
