@import "bootstrap-sprockets";
@import "bootstrap"; 

@font-face {
  font-family: 'ProximaNovaCond-Regular';
  src: font-url('ProximaNovaCond-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: 'ProximaNovaCond-Regular';
}

.graph-title {
  font-family:'ProximaNovaCond-Regular';
  font-weight:200;
  fill:#232323;
  font-size:28px;cursor:default;
}

.form-control {
  width: 100% !important;
}

.title-holder {
  padding: 20px;
  color: #fff;
  background-color: #00758C;
  margin-bottom: 20px;
  a {
    color: #cce3e8;
  }
}

.section-holder {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
}

.select2 {
  width: 100% !important;
}

.iframe-wrapper {
  overflow:auto !important;
  -webkit-overflow-scrolling:touch !important;
  overflow: hidden;
}

::-webkit-scrollbar {
      -webkit-appearance: none;
          width: 7px;
        }

.iframes {
  width: 100%;
  height: 400px;
  margin: 2.5%;
  border-width: 0px;
  overflow: auto;
  padding-right: 15px;
}

.xe-widget {
  height: 170px;
}

.label-default {
  position: absolute;
  top: 155px;
}

.xe-upper {
  padding-top: 10px;
  height: 100px;
}

.xe-right {
  text-align: right;
  a {
    color: #fff
  }
}

.xe-widget.xe-progress-counter.xe-progress-counter-blue {
  background: #5f8b95;
  .xe-upper {
    background: transparent;
  }
  a {
    color: #397FDB;
  }
}

.xe-widget.xe-progress-counter.xe-progress-counter-green {
  background: #68b828;
  .xe-upper {
    background: transparent;
  }
  a {
    color: #7828B8;
  }
}

.xe-widget.xe-progress-counter.xe-progress-counter-red {
  background: #d5080f;
  .xe-upper {
    background: transparent;
  }
  a {
    color: #08D5CE;
  }
}

.xe-label {
  strong {
    font-size: 1.5em;
  }
}

.xe-widget.xe-progress-counter .xe-background {
  top: -10% !important;
  left: -10% !important;
  bottom: auto !important;
}

.xe-widget.xe-counter, .xe-widget.xe-counter-block .xe-upper, .xe-widget.xe-progress-counter .xe-upper {
  padding: 0px !important;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
}

.dataTables_filter {
  text-align: left !important;
  label {
    width: 80% !important;
  }
  input {
    width: 100%;
  }
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #fff;
}
