.ui-autocomplete {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.advanced-search-result-container {
  overflow: hidden;
  height: 75px;
  padding: 10px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.advanced-search-result-image-container {
  padding: 15px;
  height: 70px;
  width: 70px;
  i {
    height: 50px;
    width: 50px;
    font-size: 40px;
  }
  display: inline-block;
  float: left;
}

.advanced-search-result-text-container {
  overflow: hidden;
  height: 75px;
  max-height: 75px;
  padding-left: 20px;
  h5 {
    color: grey;
  }
  p {
    color: #666666;
  }
}

.ui-state-active {
  .advanced-search-result-text-container {
    color: #fff !important;
    h5 {
      color: #fff !important;
    }
    p {
      color: #fff !important;
    }
  }
}
